<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeHandlers>
    <typeHandler handler="com.tquant.storage.typehandler.DurationTypeHandler" />
    <package name="com.tquant.storage.storage.typehandler"/>
  </typeHandlers>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/tiger_quant?useUnicode=yes&amp;characterEncoding=UTF-8&amp;autoReconnect=true&amp;useSSL=false"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <mapper class="com.tquant.storage.mapper.BarMapper"/>
    <mapper class="com.tquant.storage.mapper.TickMapper"/>
    <mapper class="com.tquant.storage.mapper.ContractMapper"/>
  </mappers>
</configuration>